header{
    background-color: deepskyblue;
    height: 100px;
    max-width: 1600px;
    margin: 10px auto;
}
.nav_bar{
    height: 100%;
}
.nav_bar img{
    width: 100px;
    transform: translate(-500px);
}
.menu{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    margin-right: 80px;

}
.menu li{
    list-style: none;
    padding: 15px;  
    display: flex;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;   
}
.menu li:hover{
    background-color: white;
    height: 75%;
    padding: 25px;
    transition: all 0.5s ease-in-out;
}
.menu li a:hover{
    color: black;
    /* padding: 20px; */
    transition: all 0.3s ease-in-out;
}